.activities-showcase-container {
    width: 100vw;
    animation-fill-mode: forwards;

    .activities-showcase-header {
        // border: 3px solid blue ;
        display: flex;
        justify-content: center;
        margin-top: 5%;

    }

    .activities-showcase-gallery-container {
        // border: 1px solid red;
        display: grid;
        justify-content: center;
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        

        .paper-container {
            width: 90vw;
            height: 300px;
            background-blend-mode: overlay;
            display: flex;
            position: relative;
            justify-content: center;
            margin-bottom: 20px;
            animation: fadeInUp 1.2s;
            cursor: pointer;


            h2::before {
                transform: scaleX(0);
                transform-origin: bottom right;
            }

            h2:hover::before {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            h2::before {
                content: " ";
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                inset: 0 0 0 0;
                background: #7c8407;
                z-index: -1;
                transition: transform .3s ease;
            }

            @media screen and (min-width: 768px) {

                h2 {
                    color: white;
                    font-size: 2rem;
                    resize: both;
                    top: 25%;
                    z-index: 1;
                    position: absolute;
                }
            }

            @media screen and (max-width: 769px) {
                h2 {
                    color: white;
                    font-size: 2.5rem;
                    resize: both;
                    top: 25%;
                    z-index: 1;
                    position: absolute;
                }
            }

            p {
                color: rgb(235, 235, 235);
                font-size: 1rem;
                top: 60%;
                position: absolute;
            }
        }
    }
}