.blogs-section {
    width: 100vw;
    overflow-x: hidden;
    padding: 0 0 5%;

    .blog-section-title {
        margin: 0% 5%;
    }

    .blogs-container {
        margin: 0% 5%;
        display: grid;
        gap: 10px;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
    }

    p {
        font-family: 'Noto Sans Thai Looped';
    }

    

}

.lineClamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:7;
    -webkit-box-orient:vertical;
}

