
.footnote-container{
    background-color: rgba(228, 228, 228, 0.886);
    width: 100vw;
    position: relative;
    padding: 3% 3% 1vh 10vw;
    margin-top: 5vh;

    .footnote-section {
        display: grid;
        grid-template-columns: 30% 60%;
        color: black;


        h2 {
            font-size: 1.2rem,
        }

        p {
            font-size: 0.65rem;
            margin-top: 3em;
        }
    }
}