
.footnote-container{
    background-color: rgba(228, 228, 228, 0.886);
    width: 100vw;
    position: relative;

    .footnote-section {
        display: grid;
        width: 100vw;
        grid-template-columns: 30% 60%;
        color: black;
        margin-top: 1vh;
        padding: 5% 5% 3% 5%;


        h2 {
            font-size: 1.2rem,
        }

        p {
            font-size: 0.65rem;
            margin-top: 3em;
        }
    }
}