.activities-showcase-container {
    width: 100vw;
    // outline: dashed;

    .activities-showcase-header {
        width: 100vw;
        // border: 1px solid ;
        display: flex;
        justify-content: center;

    }

    .activities-showcase-gallery-container {
        width: 100vw;
        // border: 1px solid red;
        display: flex;
        // margin: 5%;
        justify-content: center;
    }
}